@using R3
@inherits LayoutComponentBase
@inject StateService StateService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <span class="pe-4">CurrentCount: @StateService.CurrentCount</span>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    readonly CompositeDisposable disposables = new();
    protected override void OnInitialized()
    {
        // StateHasChangedを呼んで画面更新
        StateService.CurrentCount
            .Subscribe(_ => InvokeAsync(StateHasChanged))
            .AddTo(disposables);
    }
    
    protected void Dispose(bool disposing)
    {
        disposables.Dispose();
    }
}
