@page "/counter"
@inject StateService StateService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        StateService.CurrentCount.Value = currentCount;
    }

    private void IncrementCount()
    {
        currentCount++;
        StateService.CurrentCount.Value = currentCount;
    }
}